nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0px solid red;
}
nav li {
  border: 1px solid black;
  margin: 10px;
  padding: 0px;
  width: 200px;
  display: inline-block;
}
nav li a {
  backgorund-color: red;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(111,41,26,1) 50%, rgba(255,0,0,1) 100%);
}
nav li a:hover {
  background-color: #cc0000;
  background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(111,41,26,1) 50%, rgba(0,0,0,1) 100%);
}
